{
  "printWidth": 90,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSameLine": true,
  "semi": true,
  "singleAttributePerLine": true,
  "importOrder": [
    "^@/lib/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
