DATABASE_NAME=boilerplate
DATABASE_USER=mushigarou
DATABASE_USER_PASSWORD=mushigarou
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_URL=postgresql://mushigarou:mushigarou@localhost/boilerplate
BACKEND_PORT=8000


PG_ADMIN_USER=boilerplate@example.com
PG_ADMIN_PASSWORD=boilerplate